*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{

    text-align: center;
}

button{
    background-color: black;
    color: white;
    cursor: pointer;

}

#myPass{
    min-width: 200px; 
    overflow-wrap: break-word; 
    transition: width 0.2s ease; 
    
    
}

